@import url('fonts.googleapis.com');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Recomendado para que el padding no afecte el ancho total */
}
body {
    font-family: Young serif;
    font-family: outfit, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    background-color:hsl(330, 100%, 98%);
    color: #333;
    padding: 20px;
}
.container-principal {
    display: grid;
    place-items: center;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-principal .image {
    border-radius: 80px;
    margin: 0px;
}

#preparation {
    background-color: hsl(330, 100%, 98%); /* Cambia al color que desees (HEX, RGB o nombre) */
    text-align: left;           /* Alinea todo el texto a la izquierda */
    padding: 20px 500px 20px 20px;  
    
}
.title-time h2 {
      color: hsl(332, 51%, 32%);  ;
    }
.ingredients {
    text-align: left;           /* Alinea todo el texto a la izquierda */
    padding: 20px;  
}
.ingredients h2 {
    color: hsl(14, 45%, 36%);
}

.instructions {
    text-align: left;           /* Alinea todo el texto a la izquierda */
    padding: 20px;  
}
.instructions h2 {
    color: hsl(14, 45%, 36%);
}

.list-negrita li::marker {
    font-weight: bold;
    margin-bottom: 10px;
    color: hsl(14, 45%, 36%);
}

.nutrition {
    max-width: 600px;
    font-family: 'Outfit', sans-serif;
    color:#555;
}

.nutrition h2 {
    color: hsl(14, 45%, 36%);
    margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 20px;
}

.nutrition-table {
  width: 100%;
  border-collapse: collapse;
}

.nutrition-table tr {
  border-bottom: 1px solid #e0e0e0;
}

.nutrition-table td {
  padding: 12px 0;
  font-size: 15px;
}

.nutrition-table td:first-child {
  color: #666;
}

.nutrition-table .value {
  color: #7a3e2f;
  font-weight: bold;
}
